<menu class="social-media-share">
    <a href="http://hubski.com/user?id=forwardslash" rel="external" title="My Hubski"><i class="fa fa-h-square"></i></a>
    <a href="http://twitter.com/markbahnman" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://plus.google.com/+MarkBahnman" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="http://ca.linkedin.com/in/markbahnman/" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/markbahnman" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="emailt:mark@bahnman.ca" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="http://mark.bahnman.ca/rss/" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>